body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1060px;
    margin: 5px auto auto 16%;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2 {
    color: #333;
}

.student-container {
    margin-top: 20px;
}

.student {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.search-form {
    position: absolute;
    top: 25px;
    right: 38px;
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-left: 5px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 9px;
}

.search-form input[type="submit"] {
    margin-left: 5px;
}

input[type="text"],
select {
    width: 40%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 12px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
        max-width: 100%;
        margin: 4% auto;
        padding: 10px;
        overflow-y: auto;
    }

    table {
        font-size: 14px;
    }
        
    .search-form {
        position: absolute;
        left: 50%;
        top: 20px;
    }
    
    .search-form input[type="text"] {
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .sidenav {
        width: 0;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #111111c7;
        overflow-x: hidden;
        padding-top: 20px;
        z-index: 1;
    }

    .sidenav.open {
        width: 190px;
        display: block;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 6px;
        left: 10px;
        font-size: 20px;
        background-color: #111111c7;
        color: white;
        border: none;
        cursor: pointer;
        z-index: 2;
    }

    input[type="text"],
    select {
        width: 38%;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border-radius: 12px;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }
}