* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://i.ibb.co/MC3hMR6/g3-Kj-r-Cpn5-N3-3u8q-JJBq-8u-M5ja8-Vhm0o3e6rg-HFFVBhv-RHLg-YPr3-OVZDskrh-HVAFb1en2rt00c-Mg-YOtb-As5.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

.main {
    background-image: url(https://i.ibb.co/tpqYKB6/The-Colegio-de-Montalban-Seal-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    background-position: center;
    top: 14%;
    position: fixed;
    left: 38%;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 320px;
    display: inline-block;
    z-index: 4;
}

.main-title {
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    margin-top: 80px;
}

form {
    background-color: #ffffff70;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#regtitle {
    font-family: 'Sulphur Point', sans-serif;
    position: relative;
    text-align: center;
    color: #333;
    padding-bottom: 5px;
}

label {
	  font-family: 'Product Sans Light', sans-serif;
    display: block;
    margin-bottom: 4px;
    color: #555;
}

input {
    width: 100%;
    padding: 4px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    margin: 0 0 0 100px;
    width: 80px;
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
	border-radius: 12px;
}

input[type="submit"]:hover {
    background-color: #45a049;
	border-radius: 12px;
}

.vision-container {
    position: relative;
    text-align: center;
    font-family: 'Product Sans', sans-serif;
    height: 40%;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.37);
    color: #fff;
    padding: 10px;
    border-radius: 0 12px 12px 0;
    animation: growFromLeft 1s ease-out;
}

.vision-container p {
    font-family: 'Product Sans Thin', sans-serif;
    margin-bottom: 10%;

}

.vision-container h2 {
    margin-top: 10%;
    padding-bottom: 10px;
}

#spacer {
    margin: 15% 0 5% 0;
}

.logo-cont {
    position: absolute;
    top: 0;
    left: 83%;
    z-index: 1;
    padding: 20px;
}

.logo-cont img {
    width: 180px;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

@media (max-width: 1366px) {
    .vision-container {
        position: absolute;
        top: 28%;
        width: 20%;
        height: 50%;
        font-size: 2.2vh;
    }
    .main-title {
        position: relative;
        margin-top: 28px;
    }
    .logo-cont {
        display: flex;
        position: absolute;
        margin-left: -40px;
    }

    .logo-cont img {
        width: 100px;
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        left: 50%;
        transform: translateX(-50%);
    }

    .logo-cont {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 480px) {
    .main {
        width: 90%;
    }

    .logo-cont {
        left: 0;
        right: 0;
        margin: auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes growS {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

.main {
    animation: fadeIn 2s ease-out;
    animation: growS .5s ease-in;

}

@keyframes growFromLeft {
    from {
        transform: scaleX(0);
        transform-origin: left;
    }

    to {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.vision-container {
    animation: growFromLeft .5s ease-in;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.856);
    color: #aaaaaa;
    padding: 9px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content p:hover {
    color: white;
}

/* Mobile View */
@media screen and (max-width: 600px) {
    .vision-container {
        display: none;
        transition: display 0.5s ease;
    }

    .main {
        position: absolute;
        max-width: 80%;
    }

    .logo-cont {
        display: flex;
        position: absolute;
        margin-left: 66%;
    }

    .logo-cont img {
        width: 80px;
        padding: 5px;
    }

    .main-title {
        position: absolute;
        top: -6%;
        font-size: 12px;
        text-align: left;
        text-wrap: balance;
        padding: 5px 5px 0 10px;
    }
}

/** header **/
#header {
    background: #ffffffd6;
    transition: all 0.5s;
    z-index: 3;
    padding: 10px 0;
    box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#header .logo a {
    font-family: 'Product Sans', sans-serif;
    font-size: 4.5vh;
    color: #5f4461;
    margin-left: 20px;
}

@media (max-width: 992px) {
    #header .logo {
        font-size: 28px;
    }
}

/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #37423b;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #c358cb;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #37423b;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #c358cb;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}